@import url('https://fonts.googleapis.com/css?family=Montserrat');
@mixin box_shadow ($level) {
    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

body {
    background: rgb(162, 15, 230);
    font-family: 'Montserrat', sans-serif;
}

.box {
    background: rgb(255, 255, 255);
    width: 350px;
    height: 220px;
    position: absolute;
    // overflow: auto;
    padding: 60px 10px 60px 10px;
    margin: auto;
    top: 40%;
    left: 0;
    right: 0;
    @include box_shadow(3);


    .title {
        text-align: center;
        margin: 0 auto;
        width: 50%;   
    }

    .input {
        margin: 4px auto;
        width: 70%;
        height: 15%;
        display: block;
        border: 2px solid rgb(206, 9, 255);
        padding: 5px;
        padding-left: 10px;
    }

    #buttonWrapper {
        text-align: center;
    }

    .button {
        background: rgb(206, 9, 255);
        color: white;
        margin: 20px auto auto auto;
        width: 70%;
        height: 13%;
        position: absolute;
        left: 0;
        right: 0;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        border-style: none;
        @include box_shadow(2);
    }

    .button:focus {
        outline: 0;
    }

    .button:hover {
        transition: cubic-bezier(0.86, 0, 0.07, 1);
        transition-duration: 0.3s;
        background: rgb(136, 9, 255);
    }

    #loginSuccessButton {
        margin: 4px auto;
        display: block;
    }

    #loginSuccessTitle {
        margin-top: 10px;
    }
}

#loginBox {
    .title:nth-child(1) {
        margin-bottom: 10px;
    }

    .title:nth-child(3) {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .incorrect-login {
        margin: 4px auto;
        width: 70%;
        height: 15%;
        display: block;
        padding: 5px;
        padding-left: 10px;
        border: 2px solid red;
        animation: move 10s steps(10) infinite alternate;
    }
}

@keyframes move {
    from { top: 0; left: 0; }
    to   { top: 100px; left: 100px; }
  }
